<html>

<head>
    <title>About</title>
    <link rel='icon' href='img/weather.png'>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class='content'>
        {{>header}}
        <h3>Get your real time weather data with the click of a button!</h3>

        Have fun with it and check out current weather data from around the world !
    </div>
    {{>footer}}
</body>

</html>