<html>

<head>
    <title>Help</title>
    <link rel='icon' href='img/weather.png'>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class='content'>
        {{>header}}
        Contact me through <a href='mailto:devansh.tandon@sjsu.edu' class='email'> email</a> if you have issues with the
        functioning
        of the
        site!
    </div>
    {{>footer}}
</body>

</html>